anything_llm_storage_path=./data/anything-llm/storage

LLM_PROVIDER=azure
AZURE_OPENAI_ENDPOINT=https://mediamz-gpt-35-turbo.openai.azure.com/
AZURE_OPENAI_KEY=a6d9b4a7b2924407aa81cfc819a5a287
OPEN_MODEL_PREF=gpt-4o # This is the "deployment" on Azure you want to use. Not the base model.
EMBEDDING_MODEL_PREF=text-embedding-ada-002 # This is the "deployment" on Azure you want to use for embeddings. Not the base model. Valid base model is text-embedding-ada-002
EMBEDDING_ENGINE=azure